.customers {
  min-height: 100vh;
  background-color: #fff;
  padding: 30px 50px 25rem 50px;
  position: relative;

  .container {
    @include flex(space-around, center);

    > article {
      @include flex(center, center);
      text-align: center;
      flex-direction: column;

      > div {
        @include flex(center, center);
      }

      h2 {
        font-weight: 400;
        padding-top: 20px;
      }

      h3 {
        font-weight: 500;
      }
    }
  }

  h1 {
    font-size: 5rem;
    padding: 10px 0 90px 0;
    text-align: center;

    span {
      color: #01a3a5;
    }
  }

  img {
    height: 200px;
    border-radius: 50%;
    margin: 0 20px;
  }
}
