footer {
  @include flex(space-between, center);
  min-height: 30vh;
  padding: 0 50px;
  background: rgb(46, 66, 16);
  background: linear-gradient(
    180deg,
    rgba(46, 66, 16, 1) 66%,
    rgba(46, 66, 16, 0.5) 100%
  );
  //   background: #daddc5;

  ul {
    @include flex(center, center);
    list-style-type: none;

    li {
      color: #fff;
      padding: 5px 20px;
      margin: 0 10px;
      font-size: 1rem;
      text-transform: uppercase;
      font-family: $primaryFont;
      font-weight: 500;
      cursor: pointer;
      border: 3px solid #01a3a5;
      border-radius: 50px;
      transition: all 500ms linear;

      &:hover {
        color: #01a3a5;
        background-color: #fff;
      }
    }
  }
}
