@import "config";
@import "header";
@import "about";
@import "customers";
@import "end";
@import "register";
@import "login";
@import "dashboard";
@import "contact";
@import "error";
@import "footer";
@import "sidebar";
@import "responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

section,
footer {
  font-family: $primaryFont;
}

@keyframes opacity {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
