<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Walkmate</title>
  </head>
  <body>
    <header>
      <nav>
        <img
          src="{{url_for('.static', filename='logo.png')}}"
          alt="Logo"
          id="logo"
        />
        <ul>
          <li>Log in</li>
          <li>Register</li>
        </ul>
      </nav>
      <section class="hero">
        <h1>Let`s walk together!</h1>
        <p>
          Just 30 minutes every day can increase cardiovascular fitness,
          strengthen bones, reduce excess body fat, and boost muscle power and
          endurance. It can also reduce your risk of developing conditions such
          as heart disease, type 2 diabetes, osteoporosis and some cancers.
        </p>
        <img
          src="{{url_for('.static', filename='hiking.png')}}"
          alt="IMG"
          id="img"
        />
      </section>
    </header>
  </body>
</html>
