<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Walkmate</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="{{url_for('.static', filename='logo.png')}}" alt="Logo" />
        <ul>
          <li>Log in</li>
          <li>Register</li>
        </ul>
      </nav>
      <section class="hero">
        <div>
          <h1>
            Let`s <span>walk</span> <br />
            together!
          </h1>
          <p>
            Walking is an effective exercise method which boosts your mood and
            helps you to avoid headaches the whole day. Just 30 minutes every
            day can increase cardiovascular fitness, reduce excess body fat, and
            boost muscle power. So let`s <span>walk</span> together!
          </p>
        </div>
        <img src="{{url_for('.static', filename='hiking.png')}}" alt="IMG" />
      </section>
    </header>
  </body>
</html>
