<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Walkmate</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="../static/images/logo.png" alt="Logo" />
        <ul>
          <li>Log in</li>
          <li>Register</li>
        </ul>
      </nav>
      <section class="hero">
        <div>
          <h1>
            Let`s <span>walk</span> <br />
            together!
          </h1>
          <p>
            Walking is an effective exercise method which boosts your mood and
            helps you to avoid headaches the whole day. Just 30 minutes every
            day can increase cardiovascular fitness, reduce excess body fat, and
            boost muscle power. So let`s <span>walk</span> together!
          </p>
        </div>
        <!-- <p>
          WalkMate invites you to find fun in fitness and reap the benefits of a
          healthier, active lifestyle. Walking does as much for your mind as it
          does your body. On our platform you can find
          <span>mate</span>
          to <span>practice</span> or <span>walk</span> with.
        </p> -->
        <img src="../static/images/hiking.png" alt="IMG" />
      </section>
    </header>
    <section class="about">
      <h1>Why <span>WalkMate</span>?</h1>
      <div class="container">
        <div>
          <img src="../static/svgs/map.svg" alt="MAP" />
          <h2>Motivation</h2>
          <p>
            <span>WalkMate</span> invites you to find fun in fitness and reap
            the benefits of a healthier, active lifestyle.
          </p>
        </div>
        <img src="../static/images/walking.jpg" alt="IMG" id="walking" />
        <div>
          <img src="../static/svgs/planet.svg" alt="PLANET" />
          <h2>Positive impact</h2>
          <p>
            Just 30 minutes every day can strengthen bones, reduce excess body
            fat, and boost muscle power and endurance.
          </p>
        </div>
      </div>
      <div>
        <img src="../static/svgs/friends.svg" alt="FRIEND" />
        <h2>Meet new positive people</h2>
        <p>
          With <span>WalkMate</span> you can contact people from your town, with
          similar interests for walk. It`s interesting and healthy!
        </p>
      </div>
    </section>
  </body>
</html>
